{% load staticfiles %}

<html>
    <head>
        <title>Electric Eskimo's blog</title>
<!--         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Corben:700|Special+Elite|Rammetto+One|Sniglet:800|Vollkorn:700|Raleway:700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'javascript/blog.js' %}"></script> 
    </head>
    <header><div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            <h4 class="title"><a href="/" class="title">Electric Eskimo's blog</a></h4>        
        </div></header>
    <body>
        
        <div id="content">
                {% block content %}
                {% endblock %}
        </div>

                <div id="viewport">
                    <div id="pageWrapper"></div>

                </div>
            <div id="leftButton"><</div>
            <div id="rightButton">></div>
    </body>

</html>







