body {
    padding-left: 15px;
}

a:hover {
  color: gray;
  text-decoration: none;
}

h4 a {
    color: black;
    font-weight:normal;
    font-family: 'Special Elite';
}


.page-header {
    text-align: left;
    margin-left: -15px;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid black;
    margin-top: 0;
    padding: 15px 10px 0 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000;
    font-size: 36pt;
    text-decoration: none;
    font-weight:normal;
}

h1, h2, h4 {
    font-family: 'Special Elite', cursive;
    font-weight:normal;
}

/*.date {
    color: #828282;
    font-size: 10 px;
}*/

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    display: inline-block;
    vertical-align:top;
    overflow:hidden;
    margin: 10px;
    width:250px;
    height: 250px;
    border: 5px solid white;
    /*box-shadow: 0px 0px 0px 1px rgba(239,82,133,1);*/
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    position: relative;
}

.row{
    width: 1100px;
    position: relative;
    text-align: center;
    margin: 0;
}

.col-md-8{
    width: 850px;
    margin: auto;    
    position: relative;
    text-align: left;
    float: none;
}

.title{
    font-weight:normal;
}

.text-block{
    position: absolute;
    margin-top: 100px;
    color: rgba(0, 0, 0, 0.0);
    line-height: 1.7;
    transition: all .4s;
}

.text-block:hover{
    background-color: whitesmoke;
    color: black;
    transition: all .4s;
}

.post-title{
    position: absolute;
}

.a-title {
    color:white;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    transition: all .4s;
}

.a-title:hover{
    color: black;
    background-color: white;
    transition: all .4s;
}

.detail-title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

.glyphicon, .glyphicon-plus{
    font-size: 20px;
    color: black
}

.glyphicon:hover, .glyphicon-plus:hover{
    font-size: 20px;
    color: grey
}


.image {
    height: 100%;
    display: block;
    margin: auto;
}



