body {
    padding-left: 15px;
}

h4 a {
    color: white;
    font-weight:normal;
    font-family: 'Special Elite';
}

a:link{
    color: white;
}

.page-header {
    text-align: left;
    margin-left: -15px;
    height: 60px;
    background-color: grey;
    margin-top: 0;
    padding: 15px 10px 0 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-weight:normal;
}

.content {
    /*margin-left: 80px;*/
}

h1, h2, h4 {
    font-family: 'Special Elite', cursive;
    font-weight:normal;

}

.date {
    color: #828282;
    font-size: 10 px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    display: inline-block;
    vertical-align:top;
    overflow:hidden;
    margin: 10px;
    width:250px;
    height: 250px;
    border: 5px solid white;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    position: relative;

}

.row{
    width: 1100px;
    position: relative;
    text-align: center;
    margin: 0;
}

.col-md-8{
    width: 850px;
    margin: auto;    
    position: relative;
    text-align: left;
    float: none;
}

.title{
    font-weight:normal;
}
.post-title{
    position: absolute;
}

.text-block{
    position: absolute;
    margin-top: 100px;
    color: rgba(0, 0, 0, 0.0);
}

.text-block:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    line-height: 1.8;
}

.a-title {
    color:white;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

.a-title:hover{
    color: black;
    background-color: white;
}

.detail-title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

.glyphicon, .glyphicon-plus{
    font-size: 20px;
}

.image{
    /*width: 100%;*/
    height: 100%;
}










